mixin head()
  .header
    .main-cont
      .head
        a(href="/").head-logo
          img(src="img/logo.svg", alt="")
        .head-nav
          -
            var items = [
            "главная",
            "cамолеты",
            "запчасти",
            "лазерная резка",
            "доставка",
            ];
          each item,i in items
            a(href="#" class=i === 1 ? 'head-nav__el--active' : '').head-nav__el #{item}
          .modal-get.head-nav__el(data-modal="warranty") гарантия
          .modal-get.head-nav__el(data-modal="contact") контакты

mixin icon(name,cls)
  svg(class=cls)
    use(xlink:href="#" + name)

mixin checkbox(text,disable)
  .check-el
    if disable
      label.style-label.style-label--checkbox.style-label--disable
        input(type="checkbox").sytle-input
        .sytle-input-element
          +icon("checked","icon-check")
        .sytle-input-text=text
    else
      label.style-label.style-label--checkbox
        input(type="checkbox").sytle-input
        .sytle-input-element
          +icon("checked","icon-check")
        .sytle-input-text=text
mixin radio(text,group,check,disable)
  .check-el
    if disable
      label.style-label.style-label--radio.style-label--disable
        input(type="radio" name="group").sytle-input
        .sytle-input-element
          .icon-radio
        .sytle-input-text=text
    else
      label.style-label.style-label--radio
        input(type="radio" name=group checked=check?'checked':false).sytle-input
        .sytle-input-element
          .icon-radio
        .sytle-input-text=text

mixin incr(a)
  - a = a || 1
  .elements-icr-block
    .incr
      .incr__minus.incr__nav
        +icon("minus","icon")
      .incr__val
        span=a
        .incr__val-coner
      .incr__plus.incr__nav
        +icon("plus","icon")
