mixin head()
  .header
    .main-cont
      .head
        a(href="/").head-logo
          img(src="img/logo.svg", alt="")
        .head-nav
          -
            var items = [
            "главная",
            "cамолеты",
            "запчасти",
            "лазерная резка",
            "доставка",
            ];
          each item,i in items
            a(href="#" class=i === 1 ? 'head-nav__el--active' : '').head-nav__el #{item}
          .modal-get.head-nav__el(data-modal="warranty") гарантия
          .modal-get.head-nav__el(data-modal="contact") контакты
        .head-toggle
          +icon("menu","icon icon-open")
      .slide-menu
        .slide-menu-close
          +icon("close-fat","icon")
        
        .mobile-logo
          a(href="/")
            img(src="img/logo.svg", alt="")
          a(href="#").cart
            .cart-icon
              +icon("cart","icon")
              .cart-val 1
          .lang-toggle
            a(href="#").lang-toggle__el.lang-toggle__el--active RU
            a(href="#").lang-toggle__el EN

        .mobile-menu
          -
            var items = [
            "главная",
            "cамолеты",
            "запчасти",
            "лазерная резка",
            "доставка",
            ];
          each item in items
            a(href="#").mobile-menu__el #{item}
          .mobile-menu__el.modal-get(data-modal="warranty") гарантия
          .mobile-menu__el.modal-get(data-modal="contact") контакты
        a(href="#").mobile-lk
          +icon("user","icon")
          span Личный кабинет
        .mobile-phone
          .mobile-phone__icon
            +icon("phone-call","icon")
          .mobile-phone-cont
            a(href="tel:+7 495 312 31 12").mobile-phone__val +7 495 312 31 12
            a(href="mailto").mobile-mail info@mail.ru

mixin icon(name,cls)
  svg(class=cls)
    use(xlink:href="#" + name)

mixin checkbox(text,disable)
  .check-el
    if disable
      label.style-label.style-label--checkbox.style-label--disable
        input(type="checkbox").sytle-input
        .sytle-input-element
          +icon("checked","icon-check")
        .sytle-input-text=text
    else
      label.style-label.style-label--checkbox
        input(type="checkbox").sytle-input
        .sytle-input-element
          +icon("checked","icon-check")
        .sytle-input-text=text
mixin radio(text,group,check,disable)
  .check-el
    if disable
      label.style-label.style-label--radio.style-label--disable
        input(type="radio" name="group").sytle-input
        .sytle-input-element
          .icon-radio
        .sytle-input-text=text
    else
      label.style-label.style-label--radio
        input(type="radio" name=group checked=check?'checked':false).sytle-input
        .sytle-input-element
          .icon-radio
        .sytle-input-text=text

mixin incr(a)
  - a = a || 1
  .elements-icr-block
    .incr
      .incr__minus.incr__nav
        +icon("minus","icon")
      .incr__val
        span=a
        .incr__val-coner
      .incr__plus.incr__nav
        +icon("plus","icon")
